# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

## Ignore root
*.root

## Ignore picture
*.png
*.eps

## Ignore Delphes executable
DelphesHepMC
DelphesLHEF
DelphesSTDHEP
hepmc2pileup
lhco2root
pileup2root
root2lhco
root2pileup
stdhep2pileup
tmp/
