# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

## Ignore root
*.root

## Ignore picture
*.png
*.eps

## Ignore Delphes executable
DelphesHepMC
DelphesLHEF
DelphesSTDHEP
hepmc2pileup
lhco2root
pileup2root
root2lhco
root2pileup
stdhep2pileup
Example1
tmp/

## Ignore compiled local executable
CMSFill
DelFill
CutTable
HistStack
HTadd

## Ignore cscope and ctags files
cscope.*
tags

## Ignore log files etc
*.log

## Ignore vim products
.vimproject
.clang_complete

## Ignore FileList
Delphes/FileList/8TEV/*
Delphes/FileList/PhaseI/*
Delphes/FileList/PhaseII3/*
Delphes/FileList/PhaseII4/*
Delphes/FileList/Snowmass/*
Delphes/FileList/*gz
